# ClickHouse
CLICKHOUSE_HOST=digital-zone-ch.digitalzone-92c1-digitalzone-staging-clickhouse.altinity.cloud
CLICKHOUSE_PORT=8443
CLICKHOUSE_USERNAME=your-user-name
CLICKHOUSE_PASSWORD=your-password
CLICKHOUSE_DATABASE=dz_data_warehouse
CLICKHOUSE_SECURE=true
